################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/dumpBot/FileContentIndex/4f235bca-4c8e-49df-b585-de5501a5c8b3.vsidx
/.vs/dumpBot/FileContentIndex
/.vs/dumpBot/v17/.suo
/.vs/dumpBot/v17/.futdcache.v2
/.vs/dumpBot/v17/.wsuo
# Ignore bin\Debug\net7 directory
/bin
/obj